body {
    background-color: aqua;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(70, 43, 226);
    margin-bottom: 100px;
  }

  p {
    font-size: 35px;
    text-align: center;
    font-family: 'Lucida Sans', Arial, sans-serif;
  }

  .index {
    text-align: center;
    list-style-position: inside;
  }